body {
    font-weight: 300;
    margin: 2em;
    color: #3D3D3D;
    background-color: #eee;
    //background: linear-gradient(to bottom, #f0f0f0, #d8d8d8);
}

h1 {
    margin-top: 40px;
    //font-family: garamond-premier-pro, serif;
    font-style: garamond-premier-pro, serif;
    font-weight: 600;
    letter-spacing: .1em;
    color: #3D3D3D;
}

h4 {
    font-style: garamond-premier-pro, serif;
    font-weight: 400;
    letter-spacing: .1em;
    color: #3D3D3D;
}

p {
    font-family: 'Helvetica neue', sans-serif;
    font-size: 1.0em;
}

#video {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    border: 0.9px solid lightslategray;
    border-radius: 10px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
}

#video-container {
  position: relative;
  width: 100%;
  height: auto;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#points-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.point {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: red;
  border-radius: 50%;
}